/* homepage css */
body {
    text-align: center;
}
#links {
    width: 20%;
    margin: auto;
}
a:visited {
    color: black;
}
.login {
    text-decoration: none;
    background-color: #efefef;
    padding: 15px;
    border-radius: 15px;
    font-size: 17px;
}
#customerlogin {
    margin: 40px 5px;
    margin-bottom: 30px;
}
#createacc {
    margin-top: 0px;
}
#adminlogin {
    margin-top: 70px;
}