.image {
    border-radius: 5%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

body {
    background-color: rgb(241, 244, 227);
}

.button {
   background-color:rgb(225, 243, 146);
   border: 1px solid rgb(179, 189, 149);
   border-radius: 5%;
   width: 100px;
   height: 40px;
   font-size: 20px;
   color: rgb(60, 58, 58);
}

.see {
    background-color: rgba(242, 247, 242, 0.9);
    position: fixed;
    text-align: center;
    padding-bottom: 400px;
    width: 50%;
    height: 15%;
    z-index: 2;
    margin-top: 100px;
    margin-left: 350px;
    font-size: 20px;
    color: rgb(97, 84, 84);
}

.hide {
    display: none;
}
